<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>snagIt</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>MazzardH-Black.ttf</string>
		<string>MazzardH-Black.woff</string>
		<string>MazzardH-Black.woff2</string>
		<string>MazzardH-BlackItalic.ttf</string>
		<string>MazzardH-BlackItalic.woff</string>
		<string>MazzardH-BlackItalic.woff2</string>
		<string>MazzardH-Bold.ttf</string>
		<string>MazzardH-Bold.woff</string>
		<string>MazzardH-Bold.woff2</string>
		<string>MazzardH-BoldItalic.ttf</string>
		<string>MazzardH-BoldItalic.woff</string>
		<string>MazzardH-BoldItalic.woff2</string>
		<string>MazzardH-ExtraBold.ttf</string>
		<string>MazzardH-ExtraBold.woff</string>
		<string>MazzardH-ExtraBold.woff2</string>
		<string>MazzardH-ExtraBoldItalic.ttf</string>
		<string>MazzardH-ExtraBoldItalic.woff</string>
		<string>MazzardH-ExtraBoldItalic.woff2</string>
		<string>MazzardH-ExtraLight.ttf</string>
		<string>MazzardH-ExtraLight.woff</string>
		<string>MazzardH-ExtraLight.woff2</string>
		<string>MazzardH-ExtraLightItalic.ttf</string>
		<string>MazzardH-ExtraLightItalic.woff</string>
		<string>MazzardH-ExtraLightItalic.woff2</string>
		<string>MazzardH-Italic.ttf</string>
		<string>MazzardH-Italic.woff</string>
		<string>MazzardH-Italic.woff2</string>
		<string>MazzardH-Light.ttf</string>
		<string>MazzardH-Light.woff</string>
		<string>MazzardH-Light.woff2</string>
		<string>MazzardH-LightItalic.ttf</string>
		<string>MazzardH-LightItalic.woff</string>
		<string>MazzardH-LightItalic.woff2</string>
		<string>MazzardH-Medium.ttf</string>
		<string>MazzardH-Medium.woff</string>
		<string>MazzardH-Medium.woff2</string>
		<string>MazzardH-MediumItalic.ttf</string>
		<string>MazzardH-MediumItalic.woff</string>
		<string>MazzardH-MediumItalic.woff2</string>
		<string>MazzardH-Regular.ttf</string>
		<string>MazzardH-Regular.woff</string>
		<string>MazzardH-Regular.woff2</string>
		<string>MazzardH-SemiBold.ttf</string>
		<string>MazzardH-SemiBold.woff</string>
		<string>MazzardH-SemiBold.woff2</string>
		<string>MazzardH-SemiBoldItalic.ttf</string>
		<string>MazzardH-SemiBoldItalic.woff</string>
		<string>MazzardH-SemiBoldItalic.woff2</string>
		<string>MazzardH-Thin.ttf</string>
		<string>MazzardH-Thin.woff</string>
		<string>MazzardH-Thin.woff2</string>
		<string>MazzardH-ThinItalic.ttf</string>
		<string>MazzardH-ThinItalic.woff</string>
		<string>MazzardH-ThinItalic.woff2</string>
		<string>MazzardL-Black.ttf</string>
		<string>MazzardL-Black.woff</string>
		<string>MazzardL-Black.woff2</string>
		<string>MazzardL-BlackItalic.ttf</string>
		<string>MazzardL-BlackItalic.woff</string>
		<string>MazzardL-BlackItalic.woff2</string>
		<string>MazzardL-Bold.ttf</string>
		<string>MazzardL-Bold.woff</string>
		<string>MazzardL-Bold.woff2</string>
		<string>MazzardL-BoldItalic.ttf</string>
		<string>MazzardL-BoldItalic.woff</string>
		<string>MazzardL-BoldItalic.woff2</string>
		<string>MazzardL-ExtraBold.ttf</string>
		<string>MazzardL-ExtraBold.woff</string>
		<string>MazzardL-ExtraBold.woff2</string>
		<string>MazzardL-ExtraBoldItalic.ttf</string>
		<string>MazzardL-ExtraBoldItalic.woff</string>
		<string>MazzardL-ExtraBoldItalic.woff2</string>
		<string>MazzardL-ExtraLight.ttf</string>
		<string>MazzardL-ExtraLight.woff</string>
		<string>MazzardL-ExtraLight.woff2</string>
		<string>MazzardL-ExtraLightItalic.ttf</string>
		<string>MazzardL-ExtraLightItalic.woff</string>
		<string>MazzardL-ExtraLightItalic.woff2</string>
		<string>MazzardL-Italic.ttf</string>
		<string>MazzardL-Italic.woff</string>
		<string>MazzardL-Italic.woff2</string>
		<string>MazzardL-Light.ttf</string>
		<string>MazzardL-Light.woff</string>
		<string>MazzardL-Light.woff2</string>
		<string>MazzardL-LightItalic.ttf</string>
		<string>MazzardL-LightItalic.woff</string>
		<string>MazzardL-LightItalic.woff2</string>
		<string>MazzardL-Medium.ttf</string>
		<string>MazzardL-Medium.woff</string>
		<string>MazzardL-Medium.woff2</string>
		<string>MazzardL-MediumItalic.ttf</string>
		<string>MazzardL-MediumItalic.woff</string>
		<string>MazzardL-MediumItalic.woff2</string>
		<string>MazzardL-Regular.ttf</string>
		<string>MazzardL-Regular.woff</string>
		<string>MazzardL-Regular.woff2</string>
		<string>MazzardL-SemiBold.ttf</string>
		<string>MazzardL-SemiBold.woff</string>
		<string>MazzardL-SemiBold.woff2</string>
		<string>MazzardL-SemiBoldItalic.ttf</string>
		<string>MazzardL-SemiBoldItalic.woff</string>
		<string>MazzardL-SemiBoldItalic.woff2</string>
		<string>MazzardL-Thin.ttf</string>
		<string>MazzardL-Thin.woff</string>
		<string>MazzardL-Thin.woff2</string>
		<string>MazzardL-ThinItalic.ttf</string>
		<string>MazzardL-ThinItalic.woff</string>
		<string>MazzardL-ThinItalic.woff2</string>
		<string>MazzardM-Black.ttf</string>
		<string>MazzardM-Black.woff</string>
		<string>MazzardM-Black.woff2</string>
		<string>MazzardM-BlackItalic.ttf</string>
		<string>MazzardM-BlackItalic.woff</string>
		<string>MazzardM-BlackItalic.woff2</string>
		<string>MazzardM-Bold.ttf</string>
		<string>MazzardM-Bold.woff</string>
		<string>MazzardM-Bold.woff2</string>
		<string>MazzardM-BoldItalic.ttf</string>
		<string>MazzardM-BoldItalic.woff</string>
		<string>MazzardM-BoldItalic.woff2</string>
		<string>MazzardM-ExtraBold.ttf</string>
		<string>MazzardM-ExtraBold.woff</string>
		<string>MazzardM-ExtraBold.woff2</string>
		<string>MazzardM-ExtraBoldItalic.ttf</string>
		<string>MazzardM-ExtraBoldItalic.woff</string>
		<string>MazzardM-ExtraBoldItalic.woff2</string>
		<string>MazzardM-ExtraLight.ttf</string>
		<string>MazzardM-ExtraLight.woff</string>
		<string>MazzardM-ExtraLight.woff2</string>
		<string>MazzardM-ExtraLightItalic.ttf</string>
		<string>MazzardM-ExtraLightItalic.woff</string>
		<string>MazzardM-ExtraLightItalic.woff2</string>
		<string>MazzardM-Italic.ttf</string>
		<string>MazzardM-Italic.woff</string>
		<string>MazzardM-Italic.woff2</string>
		<string>MazzardM-Light.ttf</string>
		<string>MazzardM-Light.woff</string>
		<string>MazzardM-Light.woff2</string>
		<string>MazzardM-LightItalic.ttf</string>
		<string>MazzardM-LightItalic.woff</string>
		<string>MazzardM-LightItalic.woff2</string>
		<string>MazzardM-Medium.ttf</string>
		<string>MazzardM-Medium.woff</string>
		<string>MazzardM-Medium.woff2</string>
		<string>MazzardM-MediumItalic.ttf</string>
		<string>MazzardM-MediumItalic.woff</string>
		<string>MazzardM-MediumItalic.woff2</string>
		<string>MazzardM-Regular.ttf</string>
		<string>MazzardM-Regular.woff</string>
		<string>MazzardM-Regular.woff2</string>
		<string>MazzardM-SemiBold.ttf</string>
		<string>MazzardM-SemiBold.woff</string>
		<string>MazzardM-SemiBold.woff2</string>
		<string>MazzardM-SemiBoldItalic.ttf</string>
		<string>MazzardM-SemiBoldItalic.woff</string>
		<string>MazzardM-SemiBoldItalic.woff2</string>
		<string>MazzardM-Thin.ttf</string>
		<string>MazzardM-Thin.woff</string>
		<string>MazzardM-Thin.woff2</string>
		<string>MazzardM-ThinItalic.ttf</string>
		<string>MazzardM-ThinItalic.woff</string>
		<string>MazzardM-ThinItalic.woff2</string>
	</array>
</dict>
</plist>
